############################################
#            WHITELIST APPROACH            #
############################################

# Ignore EVERYTHING in the main directory...
/*


# ...except these whitelisted files and folders

!.gitignore
!.editorconfig
!*.sublime-project
!artisan
!bower.json
!composer.json
!gulpfile.js
!package.json
!phpunit.xml
!readme.md
!server.php

!app/
!bootstrap/
!src/
!test/



/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
public/
node_modules
bower_components
app/config/local
