
.form-group
    label Username
    input.form-control#username(type="text", name="username", ng-model="record.username", required)

.form-group
    label Email
    input.form-control#email(type="email", name="email", ng-model="record.email", required)
