
.container

    .well

        h3 Uh-Oh...

        p This link has expired, please use the forgot password link to reset the password for your account.

        p
            a(href="/users/reset") Forgot password
