h2 Contact Us

form
  .form-group
    label(for='name') Name
    input.form-control#name(type='text', ng-model='contact.name', required)

  .form-group
    label(for='email') Email Address
    input.form-control#email(type='text', ng-model='contact.email', required)

  .form-group
    label(for='subject') Subject
    input.form-control#subject(type='text', ng-model='contact.subject', required)

  .form-group
    label(for='message') Message
    textarea.form-control#message(ng-model='contact.message', required)

  div.form-group
    i We'll send a copy to your email address

  .button-group
    input.btn.btn-primary(type='submit', ng-click='submit()', value='Submit')