
h2 Login

.form-group
	label(for='email') Email
	input.form-control#email(type='text', ng-model='user.email', required)

.form-group
	label(for='passwod') Password
	input.form-control#password(type='password', ng-model='user.password', required)

button.btn.btn-primary(type='button', ng-click='login()') Login

