
h2 Login

form
  .form-group
    label(for='email') Email
    input.form-control#email(type='text', ng-model='user.email', required)

  .form-group
    label(for='passwod') Password
    input.form-control#password(type='password', ng-model='user.password', required)

  input.btn.btn-primary(type='submit', ng-click='login()', value='Login')

