ul.nav.nav-pills.subnav(ng-show='showMenu == "main"')
  li
    a(href='#/') Home
  li
    a(href='#/about') About
  li
    a(href='#/contact') Contact
ul.nav.nav-pills.subnav(ng-show='showMenu == "admin"')
  li
    a(href='#/admin/users') Users
  li
    a(href='#/admin/roles') Roles
