
div.nav.navbar-nav.navbar-right(ng-if="user.id")
    p.navbar-text Yo, &nbsp;
        a.profile-link(ng-href="/user/{{ user.username }}", ng-bind="user.username")
        | &nbsp; !

    a.navbar-toggle-slideout(href="#", ng-click="toggleNav('right')")
        i.fa.fa-bars

ul.nav.navbar-nav.navbar-right(ng-if="!user.id")
    li
        a(href="/login") Login

    li
        a(href="/register") Register
