
ul.nav.navbar-nav.navbar-right(ng-if="user.id")
	li
		span.navbar-text Yo, &nbsp;
			a(ng-href="#/user/{{ user.username }}", ng-bind="user.username")
				| !
	li
		a(href="", ng-click="toggleNav('right')")
			i.fa.fa-2x.fa-bars

ul.nav.navbar-nav.navbar-right(ng-if="!user.id")
	li
		a(href="#/login") Login
