ul.nav.nav-pills.nav-stacked
    li
        a(ui-sref="home") Home
    li
        a(ui-sref="about") About
    li
        a(ui-sref="components") Components
    li
        a(ui-sref="components.angularui") Angular UI Components
    li
        a(ui-sref="components.bootstrap") Bootstrap Components
    li
        a(ui-sref="contact") Contact
