
div.subnav-wrapper
    ul.nav.nav-pills.nav-stacked
        li.header
            p.navbar-text
                |{{ user.username }}
                img.user-image(ng-src="/image/small/{{ user.image.filename }}" ng-if="user.image")
                img.user-image(ng-src="/assets/images/default-userimage.png" ng-if="!user.image")
        li
            a(ui-sref="users.profile.edit") Edit Profile
        li
            a(href="/logout", target="_self", title="Logout")
                |Logout &nbsp;
                i.fa.fa-lg.fa-sign-out

    ul.nav.nav-pills.nav-stacked(ng-if="user.isAdmin")
        li.header
            p.navbar-text
                a(ui-sref="admin") ADMINISTER POP
        li
            a(ui-sref="admin.permissions") Permissions
        li
            a(ui-sref="admin.roles") Roles
        li
            a(ui-sref="admin.users") Users
