ul.nav.nav-pills.nav-stacked
    li
        a(href="/") Home
    li
        a(href="/about") About
    li
        a(href="/components") Components
    li
        a(href="/angularui-components") Angular UI Components
    li
        a(href="/bootstrap-components") Bootstrap Components
    li
        a(href="/contact") Contact
