
div.nav.navbar-nav.navbar-right(ng-if="user.id")
    p.navbar-text Yo, &nbsp;
        img.img-responsive.user-img(ng-if="user.image", ng-src="/image/small/{{ user.image.filename }}")
        a.profile-link(ui-sref="users.profile", ng-bind="user.username")
        | &nbsp; !

    a.navbar-toggle-slideout(href="#", ng-click="toggleNav('right')")
        i.fa.fa-bars

ul.nav.navbar-nav.navbar-right(ng-if="!user.id")
    li
        a(ui-sref="users.login") Login

    li
        a(ui-sref="users.register") Register
