
table.table.table-bordered.table-striped.table-condensed(ng-table="table", show-filter="false")
  tbody
    tr(ng-repeat="role in filteredRoles")
      td.td-checkbox(header="'ng-table/headers/checkbox.html'")
        input(type="checkbox", ng-model="checkboxes.items[user.id]")
      td.id.right(data-title="'ID'", ng-bind="role.id", sortable="'id'", filter="{ id: 'text' }")
      td(data-title="'Name'", sortable="'name'", filter="{ name: 'text' }") {{ role.name }}
      td(data-title="'Created'", ng-bind="role.created_at", sortable="'created_at'")
      td(data-title="'Updated'", ng-bind="role.updated_at", sortable="'updated_at'")
      td(data-title="'Actions'")
        a.btn.btn-primary.btn-sm(ng-href="#/admin/users?where[]=role.id,{{ role.id }}") Users
        a.btn.btn-danger.btn-sm(ng-href="#/admin/permissions?where[]=role.id,{{ role.id }}") Permissions

script(id="ng-table/headers/checkbox.html", type="text/ng-template")
  |<input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />

