@import 'variables.less';

html {
  height: 100%;
}

body {
  background: @background-color url(../img/popbg.png) top center no-repeat;
  color: @text-color;
  font-family: Lato, sans-serif;
  min-height: 100%;
  height: 100%;
  padding-top: 50px;
  > .container-fluid {
    background: none;
    min-height: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
  }
}

a {
  color: #72A1C2;
}
a:hover {
  color: #72A1C2;
  text-decoration: underline;
}

.page-title {
  color: #fff;
  text-align: center;
  width: 100%; 
  position: absolute;
  margin: 10px 0 0 0;
  font-size: 30px;
  top: 0;
  left: 0;
  padding-right: 60px;
}

.contextual-links {
  margin: 10px 0;
}

.right {
  text-align: right;
}

.navbar-inverse {
  background: @background-color url(../img/popbg.png) top center no-repeat;
  border: none;
  z-index: 999;
}

.show-right-nav, .show-left-nav {
  margin-right: 0;
  margin-left: 0;
}
.show-right-nav nav {
  margin-right: 250px;
}
.show-left-nav nav {
  margin-left: 250px;
}

.view {
  color: #f9f9f9;
}
.growl-container {
  width: 250px;
  position: fixed;
  top: 55px;
  right: 15px;
  z-index: 9999;
  .alert-success {
    color: #f9f9f9;
    background: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
    .close:hover, .close:focus, button.close {
      color: #f9f9f9;
    }
  }
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #777;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background: rgba(255, 255, 255, 0.1);
}
.table {
  .td-checkbox {
    width: 45px;
    text-align: center;
  }
  .id {
    width: 100px;
  }
}
.btn-header {
  float: right;
}
.form-group .select2-container {
  display: block;
  min-width: 0;
  max-width: none;
  width: auto;
}
.navbar-nav {
  .sep {
    padding-right: 0;
    margin-right: -2px;
  }
}

.navbar-default {
  height: 50px;
  .navbar-nav {
    > li > a {
      padding-top: 12px;
      padding-bottom: 0;
    }
    > li > .navbar-brand {
      padding-top: 15px;
      padding-left: 25px;
    }
  }
  .navbar-header {
    position: relative;
    z-index: 100;
  }
}

.subnav {
  height: 100%;
  width: @subnav-width;
  position: fixed;
  top: 0;
  color: #f9f9f9;
  z-index: 999;
  background: rgba(0, 0, 0, 0.98);
  .navbar-text {
    float: none;
  }
  .nav-pills > li.active > a,
  .nav-pills > li > a:hover {
    background: none;
    color: #fff;
  }
  a {
    text-transform: uppercase;
    color: #666666;
    line-height: 26px;
    font-size: 13px;
  }
}

.subnav-left {
  left: 0;
  width: 250px;
  padding-top: 12px;
}
.subnav-right {
  right: 0;
  width: 250px;
  .header {
    font-weight: bold;
    background: #222;
    height: 50px;
    line-height: 50px;
    .navbar-text {
      margin-top: 0;
    }
  }
  .user-image {
    float: right;
  }
}

.show-right-nav-add, .show-right-nav-remove,
.show-left-nav-add, .show-left-nav-remove {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#admin-users-table {
  td.username {
    img {
      margin: 0 5px;
    }
  }
}

.admin-table {
  th {
    text-align: center;
  }
  td.checkbox {
    text-align: center;
    margin: 0;
    input {
      margin: 0;
      float: none;
    }
  }
  td.id {
    width: 60px;
  }
  td.right {
    text-align: right;
  }
}

.view {
  position: relative;
}

.form-edit-user {
  .user-image {
    display: block;
    margin-bottom: 12px;
  }
}
