@import 'variables.less';

body {
  background: @background-color;
  color: @text-color;
  font-family: Lato, sans-serif;
  min-height: 100%;
  padding-top: 55px;
}

.subnav {
  margin: 0 0 12px 0;
}
