@import 'variables.less';

body {
  background: @background-color;
  color: @text-color;
  font-family: Lato, sans-serif;
  min-height: 100%;
  padding-top: 55px;
}

.subnav {
  margin: 0 0 12px 0;
}

.admin-table {
  td.checkbox {
    text-align: center;
    margin: 0;
    input {
      margin: 0;
      float: none;
    }
  }
  td.id {
    width: 60px;
  }
  td.right {
    text-align: right;
  }
}
