
.container-fluid
    .row
        .col-md-12

            h2 Pop

            p Pop is a Laravel 4 and AngularJS SPA starter site. There's lots of good stuff sprinkled in. So feel free to poke around, clone the repo, use it to start a new project, and submit feature requests, pull requests, or just browse the code and learn more about the awesome combination that is Laravel and Angular.

            p This is a demo of the pop master branch hosted on github: <a href="https://github.com/jbizzay/pop">https://github.com/jbizzay/pop</a> . Popwords.net is based off of this project and as such will be driving the development road of pop.

            p Here is where you can find all sorts of documentation for developing in pop: <a href="http://popwords.net/pop">http://popwords.net/pop</a>. This is using the awesome popwords.net interface, so you'll find links to external docs, snippets and comments etc...

