doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

    title Pop App

    base(href='/')

    link(rel='shortcut icon', href='favicon.ico')

    // bower:css
    // endbower

    // inject:css 
    link(rel='stylesheet', href='/css/app.css')
    // endinject 
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#/')
            i.fa.fa-lg.fa-bolt

        h4.navbar-text Pop App

        p.navbar-text.navbar-right
          a.navbar-link(href='#/login') Login

    ul.nav.nav-pills.subnav
      li.active
        a(href='#/') Home
      li
        a(href='#/about') About
      li
        a(href='#/contact') Contact

    div.container(ng-view)

    // build:js(.) /js/vendor.js
    // bower:js
    // endbower 
    // endbuild 

    // inject:js 
    // endinject 

    if includeBrowserSync
      script(src='//10.0.0.11:3000/socket.io/socket.io.js')
      script. var ___socket___ = io.connect('http://10.0.0.11:3000');
      script(src='//10.0.0.11:3001/client/browser-sync-client.0.6.2.js')
