doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

    title Title

    base(href='/')

    link(rel='shortcut icon', href='favicon.ico')

    // inject:css 
    link(rel='stylesheet', href='/css/style.css')
    // endinject 
  body
    nav
      a(href='#/') Home
      a(href='#/about/') About
      a(href='#/contact/') Contact

    div(ng-view)

    // build:js(.) /js/vendor.js
    // bower 
    // endbower 
    // endbuild 

    // inject:js 
    // endinject 

    if includeBrowserSync
      script(src='//localhost:3000/socket.io/socket.io.js')
      script. var ___socket___ = io.connect('http://localhost:3000');
      script(src='//localhost:3001/client/browser-sync-client.0.6.0.js')
