doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

    title Pop

    base(href='/')

    link(rel='shortcut icon', href='favicon.ico')

    // inject:vendor:css
    // endinject

    // inject:css
    // endinject

  body
    div(growl)
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#/')
            i.fa.fa-lg.fa-bolt

        h4.navbar-text Pop

        p.navbar-text.navbar-right
        div(user-menu)

    div(nav-menu="active")

    div.row
      div.large-6.large-offset-3
        div#flash.alert-box.alert(ng-show='flash', ng-bind='flash')

    div.container(ng-view)

    // inject:vendor:js
    // endinject

    // inject:js
    // endinject

    script. angular.module('app').constant('CSRF_TOKEN', 'INJECT_CSRF_TOKEN');

    if includeBrowserSync
      script(src='//10.0.0.11:3000/socket.io/socket.io.js')
      script. var ___socket___ = io.connect('http://10.0.0.11:3000');
      script(src='//10.0.0.11:3001/client/browser-sync-client.0.6.2.js')
