
doctype html
html(lang='en', ng-app='app')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

        title(ng-bind="title + ' | Pop'")

        base(href='/')

        link(rel='shortcut icon', href='favicon.ico')

        // inject:vendor:css
        // endinject

        // inject:css
        // endinject

    body(ng-class="bodyClass()")

        div#top

        div.growl-container(growl)

        div#spinner(style="display: none")

        div.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header

                    a.navbar-brand.text-shadow(href="/") POP

                    a.navbar-toggle-slideout(href="#", ng-click="toggleNav('left')")
                        i.fa.fa-bars

                h1.page-title.text-shadow(ng-bind="title")

                div.navbar-collapse.collapse(user-menu)

        div.view-wrapper
            div.subnav.subnav-left.ng-hide(nav-menu, ng-show="showNav == 'left'")
            div.view(ui-view)

        div.subnav.subnav-right.ng-hide(nav-menu-right, ng-show="showNav == 'right'", ng-style="navStyle()")

        footer
            div.container-fluid
                div.row
                    div.col-lg-12.navbar-default

                        p
                            a(href="#top", ng-click="scrollTop()") Back to top
                        p Pop Starter App
                        p
                            a(href="https://github.com/jbizzay/pop/") https://github.com/jbizzay/pop/

        // inject:vendor:js
        // endinject

        // inject:js
        // endinject

        script(type="text/javascript").
            angular.module('app').constant('CSRF_TOKEN', 'INJECT_CSRF_TOKEN');
