doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

    title(ng-bind="title + ' | Pop'")

    base(href='/')

    link(rel='shortcut icon', href='favicon.ico')

    // inject:vendor:css
    // endinject

    // inject:css
    // endinject

  body(ng-class="bodyClass()")

    div.growl-container(growl)

    div.container-fluid
      nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            ul.nav.navbar-nav()
              li
                a(href="", ng-click="toggleNav('left')")
                  i.fa.fa-2x.fa-bars
              li
                a.logo.text-shadow(href="/") POP
              // li(header-crumbs)

          h1.page-title(ng-bind="title")

          div(user-menu)

      div.view(ng-view)

    div.subnav.subnav-left.ng-hide(nav-menu, ng-show="showNav == 'left'")
    div.subnav.subnav-right.ng-hide(nav-menu-right, ng-show="showNav == 'right'")

    // inject:vendor:js
    // endinject

    // inject:js
    // endinject

    script. angular.module('app').constant('CSRF_TOKEN', 'INJECT_CSRF_TOKEN');

    if includeBrowserSync
      script(src='//10.0.0.11:3000/socket.io/socket.io.js')
      script. var ___socket___ = io.connect('http://10.0.0.11:3000');
      script(src='//10.0.0.11:3001/client/browser-sync-client.0.6.2.js')
