
form.form(name="loginForm", role="form", novalidate, ng-submit="submit()", ng-class="{ 'show-errors': showErrors }")

    .alert.alert-danger(ng-show="showErrors")
        p
            b Please correct the following errors:
        ul.list-unstyled(ng-repeat="error in errors")
            li {{ error }}
        .list-unstyled(form-errors)

    .form-group
        label.control-label(for="username") Username *
        input.form-control#username(type="text", name="username", ng-model="user.username", placeholder="username", required)

    .form-group
        label.control-label(for="password") Password *
        input.form-control#password(type="password", name="password", ng-model="user.password", placeholder="password", required)

    button.btn.btn-primary(type="submit") Login

