
.container

    .well

        form.form.form-edit-user
            .form-group
                label(for="image") Image
                div(ng-if="user.image")
                    img.user-image(ng-src="/image/medium/{{ user.image.filename }}")
                    button.btn.btn-danger(type="button", ng-click="removeImage()") Remove

                div(ng-show="!user.image")
                    input.form-control#image(type="file", ng-file-select="onFileSelect($files)")

            .form-group
                label(for="username") Username
                input.form-control#username(type="text", ng-model="user.username", required)

            .form-group
                label(for="email") Email
                input.form-control#email(type="email", ng-model="user.email", required)

            .form-group(ng-show="mode == 'edit'")
                label(for="password") Password
                input.form-control#password(type="password", ng-model="user.password")

            .form-group(ng-show="mode == 'edit'")
                label(for="password_confirmation") Confirm Password
                input.form-control#password_confirmation(type="password", ng-model="user.password_confirmation")

            .form-group
                label(for="roles") Roles
                select.multi-select#roles(multiple="multiple", name="roles", ui-select2="{ allowClear: true }", data-placeholder="Select Roles", ng-model="selectedRoles")
                    option(value="")
                    option(ng-repeat="role in roles", ng-value="role.id") {{ role.name }}


            button.btn.btn-primary(type="button", ng-click="save()") Save
            button.btn.btn-danger(type="button", ng-click="delete()", ng-if="mode == 'edit'") Delete account

        script#modalDeleteAccount(type="text/ng-template")
            .modal-header
                h3 Delete Account
            .modal-body
                p Are you sure you want to delete your account?
            .modal-footer
                button.btn.btn-warning(ng-click="deleteCancel()") Cancel
                button.btn.btn-primary(ng-click="deleteConfirm()") Yes
