
.container

    .well

        form.form(name="userForm", role="form", novalidate, ng-submit="doSubmit()", ng-class="{ 'show-errors': showErrors }")

            .alert.alert-danger(ng-show="showErrors")
                p
                    b Please correct the following errors:
                ul.list-unstyled(ng-repeat="error in errors")
                    li {{ error }}
                .list-unstyled(form-errors)

            .form-group
                label(for="image") Image
                div(uploader="user.image")

            .form-group
                label(for="username") Username
                input.form-control#username(type="text", name="username", ng-model="user.username", required)

            .form-group
                label(for="email") Email
                input.form-control#email(type="email", name="email", ng-model="user.email", required)

            .form-group(ng-show="mode == 'edit'")
                label(for="password") Password
                input.form-control#password(type="password", name="password", ng-model="user.password")

            .form-group(ng-show="mode == 'edit'")
                label(for="password_confirmation") Confirm Password
                input.form-control#password_confirmation(type="password", name="password_confirmation", ng-model="user.password_confirmation")

            .form-group
                label(for="roles") Roles
                ui-select.form-control#roles(multiple, reset-search-input="true", ng-model="user.roles")
                    ui-select-match(placeholder="Select roles") {{ $item.name }}
                    ui-select-choices(repeat="role.id as role in roles | filter: $select.search")
                        |{{ role.name }}

            .clearfix
                button.btn.btn-danger.pull-left(type="button", ng-click="doDelete()", ng-if="mode == 'edit'") Delete account
                button.btn.btn-primary.pull-right(type="submit") Save
