
.container-fluid
    .row
        .col-md-12

            div(pop-form="form", ng-model="record", ng-show="display == 'init'")

            div(ng-show="display == 'success'")

                p Your account has been created. Please check your email for a link to confirm your email.

