
form.form(novalidate, name="passwordForm", role="form", ng-submit="submitPassword()", ng-class="{ 'show-errors': showErrors }", ng-show="mode == 'init'")

    .alert.alert-danger(ng-show="showErrors")
        p
            b Please correct the following errors:
        ul.list-unstyled(ng-repeat="error in errors")
            li {{ error }}
        .list-unstyled(form-errors, error-messages="errorMessages")

    .form-group
        label.control-label(for="password") New Password * (min 7 characters with 1 capitalized letter)
        input.form-control#password(type="password", name="password", ng-model="user.password", placeholder="password", ng-minlength="7", ng-pattern="/(?=.*?[A-Z]){7,}/", required)

    .form-group
        label.control-label(for="password_confirmation") Confirm Password *
        input.form-control#password_confirmation(type="password", name="password_confirmation", nice-name="Confirm Password", ng-model="user.password_confirmation", placeholder="password", valid-equals="{{ user.password }}", required)

    button.btn.btn-primary(type="submit") Submit

form.form(ng-show="mode == 'success'")

    h3 Thanks!
    p Your password has been changed. Click below to login.
    p
        a(href="/login") Login

.well(ng-show="mode == 'expired'")

    h3 Uh-Oh...

    p This link has expired, please use the forgot password link to reset the password for your account.
