
.ui-view
    .container-fluid
        .row
            .col-md-12

                img.user-image(ng-src="/image/medium/{{ user.image.filename }}" ng-if="user.image.path")
                img.user-image(ng-src="/assets/images/default-userimage.png" ng-if="!user.image.path")

                h2 {{ user.username }}

                dl
                    dt Email:
                    dd {{ user.email }}

                    dt Joined:
                    dd {{ user.date_created_at | date:'shortDate' }}

                    dt Roles:
                    dd
                        span(ng-repeat="role in user.roles | orderBy: 'name'", style="margin-right: 10px") {{ role.name }}

                button.btn.btn-primary(ng-click="doEditProfile()") Edit Profile
